@import url("https://fonts.googleapis.com/css?family=Share+Tech");
body {
  margin-top: 5%;
  padding: 0;
  background: url("img/python.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: white !important;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.row > * {
  margin: 0 1rem;
}
p,
h2 {
  margin: 0;
  padding: 0;
}
img {
  margin: 0 auto;
  display: block;
  width: 80%;
}
.black-bg {
  background: #00000099;
}
.black-bg a {
  color: #bc002c !important;
}
#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Share Tech", sans-serif;
  font-size: 5em;
  margin: 0;
  padding: 0;
}
#content p {
  font-size: 0.75em;
}
#content h2 {
  font-size: 1.125em;
}
.button p {
  padding: 5%;
  color: #fff;
  font-size: 0.3em !important;
}
.button {
  text-align: center;
  margin-top: 30px;
  height: 5%;
  width: 25%;
  background: #bc002c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.button.navy {
  background: #050051;
}
.button:link {
  text-decoration: none;
}
.button:hover {
  background: #8c8b89;
}
#logo {
  width: 160px;
}
@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  #content {
    font-size: 3em;
  }
  #content p {
    font-size: 0.5em;
  }
  .button p {
    font-size: 0.45em !important;
  }
  .button {
    width: fit-content;
  }
}
/*
@media all and (max-width: 600px) {
  #content {
    font-size: 2em;
  }
  #content p {
    font-size: 0.505em;
  }
  .button p {
    font-size: 0.45em !important;
  }
  .button {
    width: 35%;
  }
} */
